<div align="center"
  <%= @answer %>
  <div class="container">
    <div class="Title">
      <h1>Stupid Coaching</h1>
    </div>
    <div class="P">
      <h2>Hello there</h2>
      <p>-You</p>
    </div>
    <h2 class="coach"><%= @answer %></h2>
    <p>-Your coach</p>
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>
