<div align="center"
  <h1 class="title">Stupid Coaching</h1>
  <h2 class ="h2">Ask your coach anything</h2>
</div>
<div align="center">
  <form action="answer">
    <input type="text" name="answer">
    <input type="submit" value="Ask!">
  </form>
</div>
