// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
background: $gray; // Using this variable
}

.title {
color: black;
font-size: 30px;
}

.Title {
  color: black;
  font-size: 30px;
}

.P {
  padding: 10px;
}

.h2 {
  font-size: 30px;
}

.coach {
background-color: yellow;
padding: 10px;
margin: 50px;
}

.p{
  border-left : 10px solid black;
}
